modules = ["nodejs-20", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 43487
externalPort = 3000

[[ports]]
localPort = 43861
externalPort = 8081

[[ports]]
localPort = 44117
externalPort = 6800

[[ports]]
localPort = 44603
externalPort = 8099

[[ports]]
localPort = 44841
externalPort = 8000

[[ports]]
localPort = 44973
externalPort = 3003

[[ports]]
localPort = 45463
externalPort = 8080

[[ports]]
localPort = 46173
externalPort = 4200

[[ports]]
localPort = 46231
externalPort = 8008

[[ports]]
localPort = 46461
externalPort = 5173

[[ports]]
localPort = 46505
externalPort = 6000

[[ports]]
localPort = 46507
externalPort = 3002

[[ports]]
localPort = 46821
externalPort = 3001

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
expertMode = true
integrations = ["javascript_database:1.0.0", "twilio:1.0.0", "javascript_openai:1.0.0", "javascript_log_in_with_replit:1.0.0", "javascript_gemini:1.0.0"]
